.btn{
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin: 2rem auto 2rem auto;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: darken($primary, 10%);
        border: 1px solid darken($primary, 20%);
        transform: scale(1.2);
    }
    &:active {
        transform: scale(0.95);
    }
}
.btn-little{
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    &:hover{
        background-color: transparent;
        border: 1px solid $primary;
        color: $black;
    }
}

.btn-danger{
    background-color: $white;
    color: $danger;
    border: 1px solid $danger;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin: 2rem auto 2rem auto;
    &:hover{
        background-color: $danger;
        color: $white;
        border: 1px solid $danger;
    }
}

.passenger-quantity-and-price {
    background-color: map-get($theme-colors, "light");
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-quantity-selector {
    display: flex;
    align-items: center;
    gap: 0.5rem; // espace entre les éléments
}

.btn-quantity {
    background-color: map-get($theme-colors, "primary");
    border: none;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: darken(map-get($theme-colors, "primary"), 10%);
    }

    &:active {
        background-color: darken(map-get($theme-colors, "primary"), 20%);
    }
}

.quantity-input {
    background-color: transparent;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: map-get($theme-colors, "dark");

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-edit {
    color: $primary;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: darken(map-get($theme-colors, "primary"), 20%);
        transform: scale(1.2);
    }
}

.btn-delete {
    color: $danger;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: darken(map-get($theme-colors, "danger"), 10%);
        transform: scale(1.2);
    }
}

.btn-suspend {
    color: $dark;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: darken(map-get($theme-colors, "dark"), 10%);
        transform: scale(1.2);
    }
}

.btn-reactivate {
    color: $success;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: darken(map-get($theme-colors, "success"), 10%);
        transform: scale(1.2);
    }
}
