.profile-picture {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
}

.profile-picture-mini {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}