$theme-colors: (
  "primary": #A3A847,
  "secondary": #59642F,
  "success": #558776,
  "dark": #444832,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #BC2E0A,
  "light": #EAE2B6,
);

$primary: #A3A847;
$secondary: #59642F;
$dark: #444832;
$light: #EAE2B6;
$black: #101206;
$success: #558776;
$danger: #BC2E0A;
$white: #fff;

